<html lang="en">
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="description" content="" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    rel="stylesheet"
  />
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
